a {
    text-decoration-line: none;
}

a:hover {
    color: blue !important;
}

.form-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}